.chipContainer {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 10px;
  align-items: center;
  // justify-content: baseline;
  width: 140px;
  height: 30px;
  border-radius: 20px;
  padding: 10px 10px 10px 14px;
}

.icon {
  height: 20px;
  width: 20px;
}

.critical {
  color: #ff0000;
  font-weight: 580;
  padding: 0;
}

.high {
  color: #ffb300;
  font-weight: 580;
  padding: 0;
}

.medium {
  color: #4da703;
  font-weight: 580;
  padding: 0;
}

.low {
  color: #009dff;
  font-weight: 580;
  padding: 0;
}

.category {
  background-color: #d8efd3;
  border: 1px solid #55ad9b;
  color: #55ad9b;
}

.pending {
  background-color: #f7baba;
  border: 1px solid #f7baba;
  color: #c13030;
  width: 110px;
}

.resolved {
  background-color: #afd596;
  border: 1px solid #afd596;
  color: #537d5d;
  width: 110px;
}

.round {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.pendingRound {
  background-color: #c13030;
}

.resolvedRound {
  background-color: #537d5d;
}

.label,
.priorityLabel {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: inherit;
  text-transform: capitalize;
}
